@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

body,
html {
  background-color: #fafafa;
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

.header {
  padding: 8px;
  background: linear-gradient(to right, #050505, #c90003);
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
}

.header a {
  margin-left: auto;
  fill: #fff;
}

#canvas {
  width: "100%";
}

.form {
  display: flex;
  justify-content: center;
  text-align: center;
}

.rotateimg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.xwork {
  padding: 30px;
  border-radius: 10px;
  font-size: 23px;
  width: 200px;
}

.data {
  padding: 30px;
  border-radius: 10px;
  font-size: 23px;
  width: 320px;
}

.flexbox {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
}

.flexinit {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -50px;
}

.arrowbtn {
  background-color: #b1b1b1e3;
  border: 1px solid black;
  border-radius: 10px;
  height: 50%;
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.leftbtn {
  margin-left: 10px;
  margin-right: -10px;
}

.buttoninit {
  align-items: center;
  border: none;
  background-color: #9e0003;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 17pt;
  font-family: Poppins-Bold;
  border-radius: 10px;
  width: 200px;
  height: 100px;
}

#canvas {
  margin-top: 10px;
  border: 2px solid black;
}

.flexboxcanva {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -30px;
}

.btncanva {
  align-items: center;
  color: #ffffff;
  background-color: #00a884;
  border: none;
  padding: 5px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 17pt;
  font-family: Poppins-Bold;
  border-radius: 100px;
  width: 200px;
  height: 50px;
}

#clear {
  background-color: #6e6e6e;
}

#cancel {
  background-color: #963434;
}

.canvabtns {
  margin-top: -120px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#options {
  font-size: 23px;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.table-container {
  max-height: calc(100vh - 150px);
  width: 100vw;
  text-align: center;
  overflow: auto;
}

#modalBuscar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0 auto;
}

#modalBuscar > div:last-child {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
}

.tableSearch {
  width: 100%;
  border-collapse: collapse;
}

.tableSearch th,
.tableSearch td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.tableSearch th {
  background-color: #f2f2f2;
  color: #333;
  font-family: Poppins-Bold;
}

.tableSearch tr:hover {
  background-color: #f5f5f5;
}

#searchInput {
  width: 99%;
  border: none;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 1px;
}
#labelsearch {
  margin-bottom: 5px;
}

#btnProcurar {
  color: #ffffff;
  background-color: #004ea8;
  border: none;
  font-size: 10pt;
  font-family: Poppins-Bold;
  border-radius: 100px;
  width: 100px;
  height: 25px;
}
#btnCancelar {
  color: #ffffff;
  background-color: #777d85;
  border: none;
  font-size: 10pt;
  font-family: Poppins-Bold;
  border-radius: 100px;
  width: 100px;
  height: 25px;
}

.image-link {
  display: inline-block;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.hide {
  display: none !important;
}

.tableSearch td,
.tableSearch th {
  border: none;
}

.tableSearch .tableSearchSkeleton td::before {
  content: "";
  display: block;
  border-radius: 10px;
  height: 16px;
  width: 40%;
  margin: 0 auto;
  background-color: #e6e6e6;
  animation: pulse 1.5s ease-in-out infinite;
}

.tableSearch-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
}

.tableSearch-message p {
  text-align: center;
}

@keyframes pulse {
  0% {
    background-color: #e6e6e6;
  }
  50% {
    background-color: #f2f2f2;
  }
  100% {
    background-color: #e6e6e6;
  }
}
