<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Home - SignApp</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="manifest" href="js/manifest.json" />
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/toastify/toastify.min.css"
    />
  </head>
  <img
    class="rotateimg"
    id="rotateimg"
    src="images/rotate.png"
    width="200px"
    style="display: none"
  />
  <div id="ortctrl" style="display: none">
    <div class="header">
      <div class="logo">
        <img src="images/icons/logo.png" width="100px" draggable="false" />
      </div>
      <div class="icon">
        <a href="#" class="fullscreenbtn">
          <svg
            class="full"
            xmlns="http://www.w3.org/2000/svg"
            height="38"
            viewBox="0 96 960 960"
            width="38"
          >
            <path
              d="M200 856V663h60v133h133v60H200Zm0-367V296h193v60H260v133h-60Zm367 367v-60h133V663h60v193H567Zm133-367V356H567v-60h193v193h-60Z"
            />
          </svg>
          <svg
            class="exitfull"
            style="display: none"
            xmlns="http://www.w3.org/2000/svg"
            height="38"
            viewBox="0 96 960 960"
            width="38"
          >
            <path
              d="M333 856V723H200v-60h193v193h-60Zm234 0V663h193v60H627v133h-60ZM200 489v-60h133V296h60v193H200Zm367 0V296h60v133h133v60H567Z"
            />
          </svg>
        </a>
        <a href="php/logout.php">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="35"
            viewBox="0 96 960 960"
            width="35"
          >
            <path
              d="M180 936q-24 0-42-18t-18-42V276q0-24 18-42t42-18h291v60H180v600h291v60H180Zm486-185-43-43 102-102H375v-60h348L621 444l43-43 176 176-174 174Z"
            />
          </svg>
        </a>
      </div>
    </div>
    <body>
      <div id="modalBuscar" class="hide">
        <div id="image-modal" class="modal" style="display: none">
          <span class="close">&times;</span>
          <img id="modal-content" src="" />
        </div>
        <div class="table-container search-container">
          <table class="tableSearch">
            <thead>
              <tr>
                <th>Unidade</th>
                <th>Número do exame</th>
                <th>Atendente</th>
                <th>Data</th>
                <th>Assinatura</th>
              </tr>
            </thead>
            <tbody class="tbody"></tbody>
            <tbody class="tableSearchSkeleton">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="tableSearch-message" style="display: none">
            <p>Nenhum resultado encontrado.</p>
          </div>
        </div>
        <div>
          <div style="float: right">
            <button class="tecbutton" id="btn1">1</button>
            <button class="tecbutton" id="btn2">2</button>
            <button class="tecbutton" id="btn3">3</button>
            <br />
            <button class="tecbutton" id="btn4">4</button>
            <button class="tecbutton" id="btn5">5</button>
            <button class="tecbutton" id="btn6">6</button>
            <br />
            <button class="tecbutton" id="btn7">7</button>
            <button class="tecbutton" id="btn8">8</button>
            <button class="tecbutton" id="btn9">9</button>
            <br />
            <button class="tecbutton" id="btn0">0</button>
            <button id="backspace">&larr;</button>
          </div>
          <div>
            <label for="searchInput" id="labelsearch">Número do exame</label
            ><br />
            <input type="number" id="searchInput" />
          </div>
          <button id="btnProcurar">Buscar</button>
          <button id="btnCancelar">Voltar</button>
        </div>
      </div>
      <div id="container">
        <div class="flexinit">
          <div class="busca">
            <button class="buttoninit" id="busca">Buscar</button>
          </div>
          <div class="entrega">
            <button class="buttoninit" id="entrega">
              Cadastrar Assinatura
            </button>
          </div>
        </div>
      </div>
      <form id="deliveredForm">
        <div id="container1" class="hide">
          <div class="flexbox">
            <div class="arrowbtn" id="lft1">
              <svg
                class="leftbtn"
                xmlns="http://www.w3.org/2000/svg"
                height="48"
                viewBox="0 96 960 960"
                width="48"
              >
                <path d="M400 976 0 576l400-400 56 57-343 343 343 343-56 57Z" />
              </svg>
            </div>
            <div class="form">
              <div class="inputs">
                <h1>Número do exame</h1>
                <br /><br />
                <div class="tecXwrk" style="float: right">
                  <button class="xwrkbtn" id="btn1">1</button>
                  <button class="xwrkbtn" id="btn2">2</button>
                  <button class="xwrkbtn" id="btn3">3</button>
                  <br />
                  <button class="xwrkbtn" id="btn4">4</button>
                  <button class="xwrkbtn" id="btn5">5</button>
                  <button class="xwrkbtn" id="btn6">6</button>
                  <br />
                  <button class="xwrkbtn" id="btn7">7</button>
                  <button class="xwrkbtn" id="btn8">8</button>
                  <button class="xwrkbtn" id="btn9">9</button>
                  <br />
                  <button class="xwrkbtn" id="btn0">0</button>
                  <button id="backspacexwrk">&larr;</button>
                </div>
                <input
                  class="xwork"
                  type="number"
                  name="xworkId"
                  data-nome="Número do Exame"
                  jsrequired
                />
              </div>
            </div>
            <div class="arrowbtn" id="rgt1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="48"
                viewBox="0 96 960 960"
                width="48"
              >
                <path
                  d="m304 974-56-57 343-343-343-343 56-57 400 400-400 400Z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div id="container2" class="hide">
          <div class="flexbox">
            <div class="arrowbtn" id="lft2">
              <svg
                class="leftbtn"
                xmlns="http://www.w3.org/2000/svg"
                height="48"
                viewBox="0 96 960 960"
                width="48"
              >
                <path d="M400 976 0 576l400-400 56 57-343 343 343 343-56 57Z" />
              </svg>
            </div>
            <div class="form">
              <div class="inputs">
                <h1>Data</h1>
                <br /><br />
                <input
                  class="data"
                  type="datetime-local"
                  name="date"
                  data-nome="Data de entrega"
                  jsrequired
                />
              </div>
            </div>
            <div class="arrowbtn" id="rgt2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="48"
                viewBox="0 96 960 960"
                width="48"
              >
                <path
                  d="m304 974-56-57 343-343-343-343 56-57 400 400-400 400Z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div id="container3" class="hide">
          <div class="flexbox">
            <div class="arrowbtn" id="lft3">
              <svg
                class="leftbtn"
                xmlns="http://www.w3.org/2000/svg"
                height="48"
                viewBox="0 96 960 960"
                width="48"
              >
                <path d="M400 976 0 576l400-400 56 57-343 343 343 343-56 57Z" />
              </svg>
            </div>
            <div class="form">
              <div class="inputs">
                <h1>Atendente</h1>
                <br /><br />
                <select
                  id="options"
                  name="atendant"
                  data-nome="Nome do atendente"
                  jsrequired
                >
                  <option value="">Selecione</option>
                </select>
              </div>
            </div>
            <div class="arrowbtn" id="rgt3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="48"
                viewBox="0 96 960 960"
                width="48"
              >
                <path
                  d="m304 974-56-57 343-343-343-343 56-57 400 400-400 400Z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div id="container4" class="hide">
          <div class="flexboxcanva">
            <div>
              <canvas id="canvas"></canvas>
              <input type="hidden" name="signature" id="signature" jsrequired />
              <input
                type="hidden"
                name="unit"
                id="unit"
                value="{{unit}}"
                data-nome="Assinatura"
                jsrequired
              />
            </div>
            <div class="canvabtns">
              <button class="btncanva" id="clear">Limpar</button>
              <button class="btncanva" id="cancel">Voltar</button>
              <button class="btncanva" id="submitcanva" type="submit">
                Enviar
              </button>
            </div>
          </div>
        </div>
      </form>
      <script>
        users = `{{registros}}`;
      </script>
      <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
      <script src="vendor/toastify/toastify-js.js"></script>
      <script src="vendor/moment/moment.min.js"></script>
      <script src="vendor/signaturepad/signature_pad.umd.min.js"></script>
      <script src="js/script.js"></script>
    </body>
  </div>
</html>
