<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Login - SignApp</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/toastify/toastify.min.css"
    />
    <link rel="manifest" href="js/manifest.json" />
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form
            class="login100-form validate-form"
            action="./php/login.php"
            method="post"
          >
            <span class="login100-form-title"> Olá! </span>
            <div
              class="wrap-input100 validate-input"
              data-validate="Unidade inválida"
            >
              <input class="input100" type="text" name="unitname" />
              <span class="focus-input100" data-placeholder="Unidade"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Senha inválida"
            >
              <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
              </span>
              <input class="input100" type="password" name="password" />
              <span class="focus-input100" data-placeholder="Senha"></span>
            </div>

            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn">Entrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="vendor/toastify/toastify-js.js"></script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="js/main.js"></script>
    <script>
      Toastify({
        text: "{{error}}",
        duration: 2000,
        style: {
          background: "#ac1e1e",
        },
      }).showToast();
    </script>
  </body>
</html>
